@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: var(--main-black);
}

:root {
    --main-blue: #2D4F6B;
    --main-white: #fff;
    --main-black: #000000;
    --main-red: #FF0606;
}

html {
    background: var(--main-white);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1210px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-black);
    border-radius: 10px;
}

.all-btn {
    max-width: max-content;
    width: 100%;
    font-size: 18px;
    padding: 18px 45px;
    color: var(--main-blue);
    border: solid 2px var(--main-blue);
    background: transparent;
    position: relative;
    transition: .3s;
    font-weight: 500;

    &::after {
        content: '';
        width: 0;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: var(--main-blue);
        transition: .7s;
    }

    &:hover {
        color: var(--main-white);
        
        &::after {
            width: 100%;
        }
    }

    &.dark {
        color: var(--main-white);

        &::after {
            width: 100%;
        }

        &:hover {
            color: var(--main-blue);

            &::after {
                width: 0;
            }
        }
    }
}

.header-title {
    span {
        margin-left: auto;
        font-weight: 500;
    }
}

.all-title {
    max-width: max-content;
    width: 100%;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    color: var(--main-blue);
    
    &::first-letter {
        text-transform: uppercase;
    }
}